@charset "utf-8";
/* CSS Document */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,header,
form,fieldset,input,textarea,p,blockquote,th,td {
padding: 0;
margin: 0;
box-sizing:border-box;
}
body {
	font: 14px "Microsoft YaHei", "宋体", Arial, sans-serif; /*需要修改*/
	text-align: center; /*为了解决ie5.5下面的居中问题*/
	background: #eee; /*需要修改*/
	color: #959595; /*需要修改*/
    width:650px;
	margin:0 auto;
	position: relative;
}
@media (max-width:650px){
	body{width:100%;
	}
}
header{ background:#f60; height:50px; overflow:hidden;}
.box_one{ line-height:50px; color:#fff;width:85%;float:left;}
.box_one h2{font-size:20px; line-height:50px; font-weight:bold;}
.box_one a{ float:left; font-size:25px; padding-left:30px; text-decoration:none; color:#fff;}
section{background:#fff;height:300px; text-align:center; margin-top:10px;}
section span{width:100%;height:20%; display:block;margin-top:5%;}
.glyphicon{font-size:50px;}
section h4{width:100%;height:20%;font-size:26px; display:block; color:#000;margin-top:5%;}
section p{width:100%;height:10%;font-size:13px;display:block; margin:5% autosa;}
.money{background:#F30;width:100px;height:50px;text-align:center; display:none;}
button{width:15%;height:50px;color:#FFF; border:none; float:right;background:#f60;}
#p1{display:none;color:#333;font-size:36px;}

