@charset "utf-8";
/* CSS Document */
.slider_box {
	width: 100%;
	height: 250px;
	position: relative;
}
.slider_img .slider {
	position: absolute;
	width: 100%;
	height: 250px;
}
.slider_img .slider img {
	width: 30%;
	margin: 0 1.5%;
	height: 100%;
}
.left, .right {
	font-size: 24px;
	background: rgba(0,0,0,0.3);
	color: #999;
	width: 50px;
	height: 50px;
	position: absolute;
	line-height: 50px;
	text-align: center;
	top: 100px;
	display: none;
}
.slider_box:hover .left, .slider_box:hover .right {
	display: block;
}
.left:hover, .right:hover {
	background: rgba(0,0,0,0.8)
}
.slider_img {
	height: 250px;
}
.right {
	right: 0;
}
.slider_box ul {
	text-align: center;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
.slider_box ul li {
	margin: 30px 5px;
	display: inline-block;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	background: #666;
}
.slider_box .active {
	background: #f60;
}
.or {
	background: #ff5000;
	width: 2%;
	height: 18px;
	margin-right: 3%;
}
h2 {
	line-height: 18px;
	text-align: left;
	font-size: 16px;
	color: #323232;
	padding-right: 10%;
	position: relative;
}

.product img {
	width: 120px;
	height: 180px;
	float: left;
}
.product .book2 {
	width: 90%;
	margin: 10px auto;
	height: 200px;
	position: relative;
	line-height: 40px;
	text-align: center;
	font-size: 12px;
	color: #666;
	padding:10px;
}
.product .book2 p {
	padding-left: 40px;
}
.product .book2 h3 {
	font-size: 18px;
	font-weight: bold;
	padding-left: 40px;
}
.product .book2 .glyphicon {
	margin-top: 30px;
	margin-bottom: 10px;
	font-size: 30px;
	height: 30px;
	color: #f60;
	bottom: 0;
}
.product .book2:hover{
	border:2px #f60 solid;}
.page {
	list-style: none;
	width: 120px;
	height: 20px;
	overflow: hidden;
	margin: 20px auto;
}
.page li {
	width: 20px;
	height: 20px;
	margin: 0 2px;
	border-radius: 50%;
	float: left;
}
.page .on {
	background: #f60;
	color: #fff;
}
.sub2{
	display:none}
