@charset "UTF-8";


/*内容区*/
#content{
    margin-top: 16px;
    font-family: "黑体";
}
#content .left_content{
    float:left;
}
#content .notice{
    width:221px;
    height:30px;
    background: url(../image/content/left_bg/left_bg.png) no-repeat -5px -4px;
    color:#FFFFFF;
    line-height: 22px;
    text-align: center;
}
.notice h4{
    font-size:14px;
    letter-spacing:4px;
    margin-left:20px;

}
.notice span{
    margin-right:10px;
}
.notice span a{
    font-size:12px;
    color:#FFFFFF;
}

#content .dl{
    width:212px;
    height:214px;
    margin-top:4px;
    border:2px solid #c1d4d9;
}
#content .dd{
    margin-top: 16px;
}
.info{
    position: relative;

}
.info .dot{
    position: absolute;
    left:5px;
    height:12px;
}
.info p{
    margin-left:16px;
    font-size:10px;
}
.info p a{
    color:#272626;
}
#content .dd .data{
    float:right;
    margin-right:6px;
    color:#976c48;
}
#content .center_content{
    margin-left:2px;
    float:left;
}
.center_header{
    width:429px;
    height:18px;
    background: url(../image/content/center_bg/center_bg.png) no-repeat -7px -8px;
}

.center_content .slideShow ul{
    float:right;
    color:#ffffff;
    margin-top:4px;
}
.slideShow p{
    float:left;
    font-size:12px;
    margin:4px 0 0 10px;
    color:#262626;
}
.slideShow ul li{
    float:left;
    width:14px;
    height:17px;
    background-color: #c5b09e;
    line-height:17px;
    text-align: center;
    margin-right:10px;
    font-size:10px;
    cursor: pointer;
}
.slideShow ul li.active{
    background-color:#73333b;
}


#content .right_content{
    margin-left:-7px;
    float:left;
}
#content .right_content .news{
    width:330px;
    height:29px;
    background: url(../image/content/right_bg/right_bg.png) no-repeat 0 -9px;
    line-height: 22px;
    text-align: center;
}

.news h4{
    font-size:14px;
    letter-spacing:4px;
    margin-left:20px;
    color:#FFFFFF;

}
.news span{
    margin-right:10px;
}
.news span a{
    font-size:12px;
    color:#FFFFFF;
}

.right_content .dd .diamonds{
    float:left;
    margin-left:26px;
}
.right_content .dd .data{
    float:right;
    color:#976c48;
}
.right_content .dd p{
    float:left;
    font-size:12px;
    margin:0 10px 0 14px;
}

/*作品展示区域*/
.others{
    margin-top:8px;
    /*border-bottom:7px solid #976c48;
    box-shadow: 0 2px 0 #b9b9b9;*/
}
.others .works {
    width: 760px;
    height: 216px;
    /*background-color: lightblue;*/
    position: relative;
    float:left;
}

.works ul li{
    float:left;
    width:116px;
    height:186px;
    background: url(../image/other/bg_li.png) bottom no-repeat;
     margin-left:12px;
    /*margin-bottom:9px;*/
}
.works ul li.first{
    margin-left:0;
}
.works ul li img{
    margin-left:-6px;
    margin-top:-8px;
}
.works p{
    text-align: center;
}
.works .centerArea p{
    color:#262626;
}
.works .centerArea p a{
    color:#262626;
}
.works .bottomArea{
    margin-top:24px;
}
.works .bottomArea a{
    color:#671622;
}
.works .wave{
    position: absolute;
    top:170px;
}
.works .fired_links{
    position: relative;
    margin-top:12px;
    margin-left:12px;
    color:#424242;
    letter-spacing: 4px;
}
.works .fired_links p{
    float:left;
}

.works .fired_links a{
    color:#424242;
    margin-left:6px;
    cursor: pointer;
}
.others .contact{
    float:right;
    width:224px;
    height:212px;
    background: url(../image/other/contact.png) no-repeat;
}
/*.others .contact .left{*/
    /*width:100%;*/
    /*height:100%;*/
    /*background: url(../image/other/right/bg_1.png) left no-repeat;*/
/*}*/
/*.others .contact .right{*/
    /*width:100%;*/
    /*height:100%;*/
    /*background: url(../image/other/right/bg_3.png) right no-repeat;*/
/*}*/
.others .contact h4{
    font-size:14px;
    letter-spacing:4px;
    margin-left:20px;
    color:#FFFFFF;
    line-height:22px;
}
.contact .message .mail{
    margin:10px 0 0 16px;
    letter-spacing: 2.5px;
}
.contact .message .wx{
    margin:14px 0 0 22px;
}
.contact .message .wx p{
    margin-left:10px;
    color:#000000;
}
